section.activities-section {
  font-family: 'Solway', serif !important;
  padding: 20px !important;
  background-color: black !important;
  min-height: calc(100vh - 60px); 
  width: 100%;
  display: flex; 
  gap: 40px; 
}
